.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header p {
  width: 65%;
  margin: 0 auto;
  font-size: small;
}

.App-header footer {
  width: 35%;
  margin: 0 auto;
}

.App-header footer ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid white;
}

.App-link {
  color: lime;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-header {
  font-size: xx-large;
  font-weight: bold;
}

section {
  background-color: rebeccapurple;
  font-size: calc(10px + 2vmin);
}

section div {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

/* section div img {
  border: 2px solid red;
} */

.no-chemistry-img {
  width: 25%;
  border: 2px solid blue;
}

iframe {
  width: 25%;
  height: 120px;
  border: 2px solid black;
}
